.cart {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart ul li {
    margin-bottom: 0.5rem;
}
